/tmp
/binaries
/coverage*.txt
/api/*.html
/internal/core/VERSION
/internal/servers/hls/hls.min.js
/internal/staticsources/rpicamera/mtxrpicam_*/

.vscode/
.idea/
media/
logs/
hooks/

.DS_Store
*.log
*.tmp
*.iml
*.dev.yml

/mediamtx

